.btn-1,
.btn-2 {
  // width: 300px;
  // height: 200px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.btn-1 a,
.btn-2 a {
  text-decoration: none;
  border: 3px solid $jet-black;
  padding: 5px 10px;
  // font-weight: bold;
  color: $jet-black;
  // text-transform: uppercase;
  // letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
  font-weight: bold;
}

/* Button 1 styles */

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: none;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before,
.btn-2 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color: $linen;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after,
.btn-2 a:hover::after {
  transform: scaleX(0);
}
