$light-gray: #F4F4F4;
$jet-black: #292929;
$isabelline: #edede9ff;
$pale-silver: #d6ccc2ff;
$linen: #f5ebe0ff;
$champagne-pink: #e3d5caff;
$desert-sand: #d5bdafff;
$gradient-top: linear-gradient(0deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-right: linear-gradient(90deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-bottom: linear-gradient(180deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-left: linear-gradient(270deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-top-right: linear-gradient(45deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-bottom-right: linear-gradient(135deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-top-left: linear-gradient(225deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-bottom-left: linear-gradient(315deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-radial: radial-gradient(#edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
